@import "./setup";
@import "./navbar";
@import "./footer.scss";
@import "./category-nav.scss";
@import "./catalog-home.scss";
@import "./product-main-page.scss";
@import "./breadcrumbs.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  &:active,
  :focus {
    outline: none;
  }
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #f2f2f2;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.1rem;
}

#main {
  flex: 1 0 auto;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: white;
  box-shadow: 0 0 2px rgba(#000000, 0.2);
  color: #585c66;
  border-radius: 1px;
  cursor: pointer;
  transition: all, 0.3s;
  &:hover,
  &:active {
    background-color: #00a7cc;
    color: white;
  }
}

.loader {
  fill: #00a7cc !important;
  opacity: 0.5;
  size: 50%;
}
