header {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 120px;
  }
  h3 {
    font-size: 15px;
    margin-top: 0.7rem;
    text-align: center;
    font-weight: 100;
  }
  nav {
    .la-times {
      font-size: 40px;
      position: fixed;
      top: 20px;
      left: 20px;
      opacity: 0;
      visibility: 0;
      transition: all 0.5s;
      z-index: 600;
    }
    display: flex;
    flex-direction: row;
    ul {
      z-index: 600;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      position: fixed;
      bottom: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      padding: 0 20px;
      transition: opacity 0.4s 0s, visibility 0.4s 0s;
      font-size: 25px;
      font-weight: 400;
      line-height: 2;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      overflow-y: scroll;
      letter-spacing: 1px;
      :first-child {
        margin-top: 200px;
      }
      li {
        margin-bottom: 0.8rem;
        a {
          color: #1f1f1f;
          text-decoration: none;
          &:hover {
            color: $secondary;
          }
        }
        :active {
          font-weight: 400;
        }
        .active-link {
          color: $primary;
        }
      }
    }
    button {
      display: none;
    }
    .icon-wrapper {
      margin-top: 1.3rem;
      display: flex;
      flex-direction: row;
      .hamburger {
        margin-right: 1.4rem;
      }
    }
  }
  i {
    font-size: 29px;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
}

header {
  .true {
    ul {
      background-color: #f8f8f8;
      transition-delay: 0s, 0s;
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0s;
    }
    .la-times {
      opacity: 1;
      visibility: 1;
      // z-index: 100;
      // transition-delay: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  header {
    padding: 50px 0;
    img {
      width: 160px;
    }
    nav {
      margin-top: 2rem;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      .pos {
        visibility: hidden;
      }
      .icon-wrapper {
        display: none;
      }
      ul {
        width: auto;
        position: relative;
        left: unset;
        height: unset;
        top: unset;
        bottom: unset;
        line-height: unset;
        overflow: unset;
        overflow-y: unset;
        justify-content: center;
        background: none;
        flex-direction: row;
        visibility: visible;
        opacity: 1;
        padding: 0;
        :first-child {
          margin: 0;
        }
        li {
          margin: 0;
          margin-left: 12px;
          a {
            letter-spacing: 0;
            color: #585c66;
            text-decoration: none;
            position: relative;
            display: block;
            padding: 5px 1px;
            text-decoration: none;
            font-size: 15px;
            font-weight: 100;
            transition: 0.5s;
            z-index: 1;
            &:hover {
              color: $secondary;
            }
          }
          .active-link {
            color: $primary;
            &:hover {
              color: $primary;
            }
          }
        }
      }
      .e-store {
        display: unset;
        width: 150px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  header {
    nav {
      .e-store {
        display: unset;
        width: 165px;
      }
    }
  }
}

//hamburger
.hamburger {
  width: 27px;
  height: 27px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  .line {
    width: 27px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.4s;
  }
  .line-1,
  .line-3 {
    width: 70%;
  }
  .line-1 {
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    .line {
      background-color: $primary;
    }
    .line-1,
    .line-3 {
      width: 27px;
    }
  }
}

.head-container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .head-container {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .head-container {
    width: 820px;
  }
}

@media screen and (min-width: 1200px) {
  .head-container {
    width: 920px;
  }
}

// @media screen and (min-width: 1200px) {
//   .head-container {
//     width: 1120px;
//   }
// }
